<app-ts-particles></app-ts-particles>
<div class="row w-100">
  <div class="col-3">
    <app-sidebar></app-sidebar>
  </div>
  <div class="col-lg-8 col-9 position-relative text-white">
    <app-bio id="bio"></app-bio>
    <app-education id="education"></app-education>
    <app-skills id="skills"></app-skills>
    <app-work-experience id="work-experience"></app-work-experience>
    <app-major-projects id="major-projects"></app-major-projects>
    <app-awards id="awards"></app-awards>
    <app-certifications id="certifications"></app-certifications>
    <app-publications id="publications"></app-publications>
    <app-references id="references"></app-references>
  </div>
</div>

