<app-ts-particles></app-ts-particles>
<div class="row w-100">
  <div class="col-3 col-sm-2 col-md-3 col-lg-3">
    <app-sidebar></app-sidebar>
  </div>
  <div class="col-9 col-sm-10 col-md-9 col-lg-8 position-relative text-white ps-4 ps-sm-4 ps-md-5 ps-lg-0">
    <app-bio id="bio"></app-bio>
    <app-education id="education"></app-education>
    <app-skills id="skills"></app-skills>
    <app-work-experience id="work-experience"></app-work-experience>
    <app-major-projects id="major-projects"></app-major-projects>
    <app-awards id="awards"></app-awards>
    <app-certifications id="certifications"></app-certifications>
    <app-publications id="publications"></app-publications>
    <app-references id="references"></app-references>
  </div>
</div>

