<!-- Page Wrapper -->
<div id="wrapper">

  <!-- Sidebar -->
  <div class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar" style="z-index: 2;">
    <div class="position-fixed" id="fixedSidebar" style="border-right: 1px solid rgba(222, 222, 222, .7); border-top-right-radius: 3rem; border-bottom-right-radius: 3rem;  ">
      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center"
         routerLink="/"  (click)="navigateToTop()">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="far fa-user"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Samin Azhan</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider text-white my-0" style="opacity: 1;">

      <!-- Nav Item - Dashboard -->
      <div class="nav-item" [ngClass]="{'active': activated === 'bio'}">
        <a class="nav-link" routerLink="/"  (click)="navigateToComponent('bio')">
          <i class="fas fa-pencil-alt"></i>
          <span>Bio</span></a>
      </div>

      <!-- Divider -->
<!--      <hr class="sidebar-divider">-->

      <!-- Heading -->
<!--      <div class="sidebar-heading">-->
<!--        Details-->
<!--      </div>-->

      <!-- Nav Item  -->
      <div class="nav-item" [ngClass]="{'active': activated === 'education'}">
        <a class="nav-link" (click)="navigateToComponent('education')">
          <i class="fas fa-graduation-cap"></i>
          <span>Education</span>
        </a>
      </div>

      <!-- Nav Item  -->
      <div class="nav-item" [ngClass]="{'active': activated === 'skills'}">
        <a class="nav-link" (click)="navigateToComponent('skills')">
          <i class="fas fa-stream"></i>
          <span>Skills</span></a>
      </div>

      <!-- Nav Item  -->
      <div class="nav-item" [ngClass]="{'active': activated === 'work-experience'}">
        <a class="nav-link" (click)="navigateToComponent('work-experience')">
          <i class="fas fa-laptop-code"></i>
          <span>Work Experience</span></a>
      </div>

      <!-- Nav Item  -->
      <div class="nav-item" [ngClass]="{'active': activated === 'major-projects'}">
        <a class="nav-link" (click)="navigateToComponent('major-projects')">
          <i class="fas fa-project-diagram"></i>
          <span>Major Projects</span></a>
      </div>

      <!-- Nav Item  -->
      <div class="nav-item" [ngClass]="{'active': activated === 'awards'}">
        <a class="nav-link" (click)="navigateToComponent('awards')">
          <i class="fas fa-trophy"></i>
          <span>Awards & Participation</span></a>
      </div>

      <!-- Nav Item  -->
      <div class="nav-item" [ngClass]="{'active': activated === 'certifications'}">
        <a class="nav-link" (click)="navigateToComponent('certifications')">
          <i class="fas fa-award"></i>
          <span>Certifications</span></a>
      </div>

      <!-- Nav Item  -->
      <div class="nav-item" [ngClass]="{'active': activated === 'publications'}">
        <a class="nav-link" (click)="navigateToComponent('publications')">
          <i class="fas fa-book"></i>
          <span>Publications</span></a>
      </div>

      <!-- Nav Item  -->
      <div class="nav-item" [ngClass]="{'active': activated === 'references'}">
        <a class="nav-link" (click)="navigateToComponent('references')">
          <i class="far fa-list-alt"></i>
          <span>References</span></a>
      </div>

    </div>
  </div>
  <!-- End of Sidebar -->

</div>
<!-- End of Page Wrapper -->
