<!-- Page Wrapper -->
<div id="wrapper">

  <!-- Sidebar -->
  <div class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar" style="z-index: 2;">
    <div class="position-fixed" id="fixedSidebar">
      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center"
         routerLink="/"  (click)="navigateToTop()">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="far fa-user"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Samin Azhan</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <div class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" routerLink="/"  (click)="navigateToComponent('bio')">
          <i class="fas fa-pencil-alt"></i>
          <span>Bio</span></a>
      </div>

      <!-- Divider -->
<!--      <hr class="sidebar-divider">-->

      <!-- Heading -->
<!--      <div class="sidebar-heading">-->
<!--        Details-->
<!--      </div>-->

      <!-- Nav Item  -->
      <div class="nav-item"  routerLinkActive="active">
        <a class="nav-link" (click)="navigateToComponent('education')">
          <i class="fas fa-graduation-cap"></i>
          <span>Education</span>
        </a>
      </div>

      <!-- Nav Item  -->
      <div class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="skills" (click)="navigateToComponent('skills')">
          <i class="fas fa-stream"></i>
          <span>Skills</span></a>
      </div>

      <!-- Nav Item  -->
      <div class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="orders">
          <i class="fas fa-laptop-code"></i>
          <span>Work Experience</span></a>
      </div>

      <!-- Nav Item  -->
      <div class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="inventory-management">
          <i class="fas fa-project-diagram"></i>
          <span>Major Projects</span></a>
      </div>

      <!-- Nav Item  -->
      <div class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="inventory-management">
          <i class="fas fa-trophy"></i>
          <span>Awards & Participation</span></a>
      </div>

      <!-- Nav Item  -->
      <div class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="inventory-management">
          <i class="fas fa-award"></i>
          <span>Certifications</span></a>
      </div>

      <!-- Nav Item  -->
      <div class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="inventory-management">
          <i class="far fa-list-alt"></i>
          <span>References</span></a>
      </div>

    </div>
  </div>
  <!-- End of Sidebar -->

</div>
<!-- End of Page Wrapper -->
